
/* mobile */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

html{
    width:100%;
}
/*
div{
    border: 1px solid black;
}*/

body {
    width:100%;
    margin:0px;
    background-color: #F1F2F2;
}
header{    
    width:100%;
}

img{
    max-width:100%;
    max-height:100%;

}

#HeaderCenter{
    width: 100%;
    display:inline-block;
    background-color: white;
    height: 160px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    margin-bottom: 20px;

}

#Menu{
    width:430px;
    display:block;
    margin: 10px auto 5px auto;
}

button{
    border-radius: 3px;
    background-color: #E6E7E8;
    border-style: none;
    width: 130px;
    padding:4px 0px 4px 0px;
    font-size: 24px;
    font-weight: 500;
    margin: 5px;
    border: none;
    outline: none;
    font-family: 'PT Sans';

}

button:hover{
    background-color: #B9EAE5;
}

button:active{
    background-color: #00A79D;
}

button:focus{
    border-style: none;
}

#Logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    width:80%;
}



#Social{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity:0.3;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image: url('fb.svg');
    background-size: 40px 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
}

#Post{
    display:block;/*
    overflow: hidden*/
    width: 100%;
}

#PostCenter{
    display:inline-block;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    margin-bottom: 20px;

}

#Buttons{
    width:430px;
    display:block;
    margin: 10px auto 5px auto;

}

.PostHeader{
}

h1{

    font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;
    color: #58595B;
    text-align: center;
}

#SharePost{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity:0.3;
    background-image: url('share.svg');
    background-size: 40px 40px;
    position: absolute;
    top: 262px;
    right: 10px;
}

#SharePost:hover, #Social:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity:01;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);

}

#SharePost:active, #Social:active{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity:0.8;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}



.comics{
    margin: 5px;
}

/* desktop */

@media only screen and (min-width: 1000px){


.comics{
    margin: 0px auto 0px auto;    
    padding: 0px 50px 0px 50px;
}

#Post{
    text-align: center;
}

#PostCenter{
    border-radius: 3px;
    position: relative;
    display:inline-block;
    width: 900px;
    margin: 20px auto 0px auto;

}

#HeaderCenter{
    border-radius: 3px;
    position: relative;
    display:block;
    width: 900px;
    height: 220px;
    margin: 20px auto 0px auto;
    text-align: center;

}

#Logo{
    display:inline-block;
}

#Social{
    position: absolute;
    display:inline-block;
    right: -60px;
}
#SharePost{
    position: absolute;
    display:inline-block;
    right: -60px;
    top: 15px;
}


}