
/* mobile */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

html{
    width:100%;
}
/*
div{
    border: 1px solid black;
}*/

body {
    width:100%;
    margin:0px;
    background-color: #F1F2F2;    
    font-family: 'PT Sans';
}


img{
    max-width:100%;
    max-height:100%;

}

.modal-content{
    max-width:100%;
    max-height: none;

}

#HeaderRight{
    width: 100%;
    display:inline-block;
    background-color: white;
    height: 160px;
    width: 130px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);

}

#Menu{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

button{
    border-radius: 3px;
    background-color: #E6E7E8;
    border-style: none;
    width: 130px;
    padding:4px 0px 4px 0px;
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    font-family: 'PT Sans';

}

.button{
    border-radius: 3px;
    background-color: #E6E7E8;
    border-style: none;
    width: 130px;
    padding:4px 0px 4px 0px;
    font-size: 24px;
    font-weight: 500;
    margin: 5px;
    border: none;
    outline: none;
    font-family: 'PT Sans';
    color: #8c8c8c !important;
    text-decoration: none !important;
    float: left;
    text-align: center;

}


.button:hover{
    background-color: #B9EAE5;
    color: black !important;
}

.button:active{
    background-color: #00A79D;
    color: black !important;
}

.button:focus{
    border-style: none;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
    cursor: auto;
}

#Logo{
    margin-right: auto;
    margin-left: auto;
    width:100%;
}



#Social{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity:0.3;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image: url('fb.svg');
    background-size: 40px 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
}

#Post{
    display:block;/*
    overflow: hidden*/
    width: 100%;
}

#PostCenter{
    display:inline-block;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    margin-bottom: 20px;

}

#Buttons{
    width:430px;
    display:block;
    margin: 10px auto 5px auto;

}

#ButtonsWide{
    visibility: hidden;
    display:none;
}

.PostHeader{
}

h1{

    font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;
    color: #58595B;
    text-align: center;
}

#SharePost{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity:0.3;
    background-image: url('share.svg');
    background-size: 40px 40px;
    position: absolute;
    top: 262px;
    right: 10px;
}

#SharePost:hover, #Social:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity:01;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);
    box-shadow: 0 0 5px rgba(0,0,0,.10),0 8px 10px rgba(0,0,0,.10);

}

#SharePost:active, #Social:active{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity:0.8;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}



.comics{
    margin: 5px;
}

/* desktop larger than 1000 */

@media only screen and (min-width: 1000px){


body{
    height: 100vh;
}


#PageWrapper{
    width: 60%;
    margin: auto;
}

.comics{
    margin: 0px auto 0px auto;    
    height: 82%;
    padding: 0px 50px 0px 50px;
}

#Post{
    height: 100vh;
    width: 58%;
    float:left;
}

#PostCenter{
    border-radius: 3px;
    position: relative;
    display:inline-block;
    text-align: center;
    height: 96%;

    min-height: 96%;
    margin: 20px 60px 20px 20px;

}

#HeaderWrapper{
    float:left;
    width:15%;

}

#Buttons{

    visibility: hidden;
    display: none;

}
#ButtonsWide{
    display:block;
    margin: 10px auto 5px auto;
    visibility: visible;
}

#HeaderRight{
    border-radius: 3px;
    position: relative;
    height: auto;
    margin: 20px ;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}


#Social{
    position: absolute;
    display:inline-block;
    right: -60px;
}
#SharePost{
    position: absolute;
    display:inline-block;
    right: 10px;
    top: 95%;
}

#clear
{
clear: both;
}

            /* Style the Image Used to Trigger the Modal */
#ComicImage {
    cursor: pointer;
}

#ComicImage:hover {opacity: 0.9;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/*tried to make image close only when the black part outside is clicked. doesnt work yet*/
.CloseLayer{
    z-index: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
/*.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0.9)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.9)} 
    to {transform:scale(1)}
}
*/
.modal, .modal-content, #captionl {   
    -webkit-animation-name: transparency;
    -webkit-animation-duration: 0.5s;
    animation-name: transparency;
    animation-duration: 0.5s;
}

@-webkit-keyframes transparency {
   0%   { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes transparency {
   0%   { opacity: 0;}
  100% { opacity: 1;}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

}

/* desktop larger than 1366 */

@media only screen and (min-width: 1380px){


#HeaderWrapper{
    width: 15%;
    margin-left: 30px;
}

.comics {
    margin: 0px auto 0px auto;
    height: 90%;
    padding: 0px 50px 0px 50px;
}

#Post {
    width: 80%;
}



}



